// Theme
$primary-color: #082D53;
$secondary-color: #FFD974;
$sub-secondary-color: rgba(250, 3, 104, 0.54);
$hover-color: #1D69B7;
$title-color: #111;
$nav-color : #FA0368;
$sub-title-color:#E7F0F7;
$inner-text-color: #f8f8f8;
$text-color: #414141;
$light-color: #ffffff;
$dark-color: #111111;
$divider-title-color: #a7a7a7;
$gray-color:#f8f8f8;
$anchor-color: #a7a7a7;

// Default
$danger-color: #D9534F;
$info-color: #5BC0DE;
$success-color: #5CB85C;
$warning-color: #F0AD4E;
$disable-color: #CCC;


// Font Family
$primary-font: 'Poppins', sans-serif;
$title-font:   'Poppins', sans-serif;

// Line Hight
$body-line-height: 1.5;
$title-line-height: 1.1;

// border-radius
$border-radius-degree: 25px